<!DOCTYPE html>
<html ng-app="iwx">
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-chart.js/dist/angular-chart.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-loading/angular-loading.css">
  <link rel="stylesheet" type="text/css" href="bower_components/ngImgCrop/compile/unminified/ng-img-crop.css">
  <link href="app.less" type="text/css" rel="stylesheet/less">
</head>
<body>

  <!-- Livereload script for development only (stripped during dist build) -->
  <script src="http://localhost:35729/livereload.js" data-concat="false"></script>

  <!-- JS from Bower Components -->
  <script src="bower_components/less.js/dist/less.js" data-concat="false"></script>
  <script src="bower_components/jquery/dist/jquery.min.js" data-concat="false" data-remove="false"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" data-concat="false" data-remove="false"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/angular/angular.min.js" data-concat="false" data-remove="false"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
  <script src="bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/moment/locale/zh-cn.js"></script>
  <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script src="bower_components/ng-table/dist/ng-table.js"></script>
  <script src="bower_components/angular-qrcode/qrcode.js"></script>
  <script src="bower_components/qrcode-generator/js/qrcode.js"></script>
  <script src="bower_components/qrcode-generator/js/qrcode_UTF8.js"></script>
  <script src="bower_components/Chart.js/Chart.min.js"></script>
  <script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
  <!-- add angular-tree-control js -->
  <script src="bower_components/angular-tree-control/angular-tree-control.js"></script>
  <!-- add ani-machine js -->
  <script src="bower_components/ani-machine/dist/ani-machine.min.js"></script>
  <!-- Main App JS -->
  <script src="app.js"></script>
  <!--plugin config.js-->
  <script src="partial/welcome/welcome.js"></script>
  
  <script src="directive/dsref.js"></script>
  <script src="directive/form-input/form-input.js"></script>
  <script src="directive/image-fixed.js"></script>
  <script src="service/httpinterceptor.js"></script>
  <script src="service/userservice.js"></script>
  <script src="directive/file.js"></script>
  <script src="directive/qrcode.js"></script>
  <script src="directive/post/post.js"></script>
  <script src="directive/datetimepicker/datetimepicker.js"></script>
  <script src="directive/tooltip.js"></script>
  <script src="directive/validate.js"></script>
  <script src="directive/operation.js"></script>
  <script src="directive/navigation.js"></script>
  <!--add myFilters.js file-->
  <script src="filters/myFilters.js"></script>
  <!-- Add New Component JS Above -->

  <div ng-controller="MainCtrl" ng-cloak>
    <div class="notification-bar">
      <div ng-show="notification"
          class="notification notification-{{notification.type.class}} alert-dismissable">
        <button ng-show="notification && notification.type.closable" type="button" class="close"
            ng-click="clearNotification()">&times;</button>
        {{notification.message}}
        <a ng-show="notification && notification.payload"
            ng-click="notificationDetails(notification.payload)">(more)</a>
      </div>
    </div>
    <nav id="navigation" class="navbar navbar-inverse" role="navigation" opacity>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-item">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" ui-sref="welcome"><img src="/static/images/bg_ticket_logo.png" style="height:20px;"/></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-item">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a href="http://test.iweixiao.cn" target="_blank">社团管理后台</a></li>
            <!-- <li ui-sref-active="active" ng-show="user.role.name === 'ADMIN'"><a ui-sref="community">社团管理</a></li>
            <li ui-sref-active="active" ng-show="user.role.name === 'IWX_ADMIN'"><a ui-sref="community_iWX">社团管理</a></li>
            <li ui-sref-active="active" ng-show="user.role.name === 'UN_ADMIN'"><a ui-sref="community_university">社团管理</a></li>
            <li ui-sref-active="active" ng-show="user.role.name === 'ADMIN'"><a ui-sref="activity">活动管理</a></li>
            <li ui-sref-active="active" ng-show="user.role.name === 'IWX_ADMIN'"><a ui-sref="activity_iWX">活动管理</a></li>
            <li ui-sref-active="active" ng-show="user.role.name === 'UN_ADMIN'"><a ui-sref="activity_university">活动管理</a></li>
            <li ui-sref-active="active" ng-show="user.role.name === 'ADMIN'"><a ui-sref="message">消息管理</a></li>
            <li ui-sref-active="active" ng-show="user.role.name === 'IWX_ADMIN'"><a ui-sref="message_iWX">消息管理</a></li>
            <li ui-sref-active="active" ng-show="user.role.name === 'UN_ADMIN'"><a ui-sref="message_university">消息管理</a></li>
            <li ui-sref-active="active" ng-show="user.role.name === 'ADMIN'"><a ui-sref="certificate">电子凭证管理</a></li>
            <li ui-sref-active="active" ng-show="user.role.name === 'ADMIN'"><a ui-sref="profile">账户设置</a></li>
            <li ui-sref-active="active" ng-show="user.role.name === 'IWX_ADMIN'"><a ui-sref="profile_iwx">账户设置</a></li>
            <li ui-sref-active="active" ng-show="user.role.name === 'UN_ADMIN'"><a ui-sref="profile_university">账户设置</a></li>
            <li ui-sref-active="active" ng-show="user.role.name === 'SUPER_USER'"><a ui-sref="role_manage_super">角色管理</a></li> -->
          </ul>
          <!-- <ul ng-show="!user" class="nav navbar-nav pull-right">
            <li ui-sref-active="active"><a ui-sref="login({next:'welcome'})">登录</a></li>
            <li ui-sref-active="active"><a ui-sref="register">注册</a></li>
          </ul> -->
          <!-- <ul ng-show="user" class="nav navbar-nav pull-right">
            <li><a ng-show="user.role.name === 'ADMIN'" ui-sref="profile">{{user.name || user.nickname}}</a></li>
            <li><a ng-show="user.role.name === 'IWX_ADMIN'" ui-sref="profile_iwx">{{user.name || user.nickname}}</a></li>
            <li><a ng-show="user.role.name === 'UN_ADMIN'" ui-sref="profile_university">{{user.name || user.nickname}}</a></li>
            <li><a ng-click="logout()">登出</a></li>
          </ul> -->
        </div>
      </div>
    </nav><br/><br/><br/><br/>
    
    <div style="position: absolute;">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <img class="login_after_img" src="/static/images/cn_logo_image.png">
          <div class="download">
            <a href="https://itunes.apple.com/us/app/i-wei-xiao/id835588974?mt=8">
              <img class="down_ios" src="/static/images/iphone@2x.png">
            </a>
            <a href="http://www.iweixiao.cn/iweixiao_v2.0.apk">
              <img class="down_android" src="/static/images/and.png">
            </a>
          </div>
        </div>
      </div>
      <div class="row bg_yellow">
        <div class="col-md-12 col-sm-12">
          <img class="login_before_img" src="/static/images/yellow_front_cn.png">
        </div>
      </div>
      <div class="row bg_orange">
        <div class="col-md-12 col-sm-12">
          <img class="login_before_img" src="/static/images/orange_front_cn.png">
        </div>
      </div>
      <div class="row bg_blue">
        <div class="col-md-12 col-sm-12">
          <img class="login_before_img" src="/static/images/blue_front_cn.png">
        </div>
      </div>
      <div class="row bg_qrcode">
        <div class="col-md-12 col-sm-12">
          <img class="login_before_img_last" src="/static/images/qrcode.png">
        </div>
      </div>
      <div class="row bg_qrcode">
        <div class="col-md-12 col-sm-12">
          <img class="boringKiller" src="/static/images/company_name.png">
        </div>
      </div>
    </div>
    <div id="content" class="container">
      <div ui-view></div>
    </div>
    <!-- Notification Modal -->
    <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:1200;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
            <!-- <h4 class="modal-title" id="myModalLabel">{{popmsg.title}}</h4> -->
          </div>
          <div class="modal-body">
            {{popmsg.message}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>