<div ng-controller="MessagesCtrl">
  <div class="tabs-left">
    <ul class="nav nav-tabs col-sm-2 col-md-2 col-lg-2">
      <div treecontrol class="tree-light"
        tree-model="dataForTheTree"
        options="treeOptions"
        on-selection="showSelected(node)"
        selected-node="node3"
        expanded-nodes="expandedNodes"
        >
        <span class="message_tree" ng-if="node.nickname == '对话列表'">{{node.nickname}}</span>
        <span class="message_tree" ng-if="node.nickname == 'i微校管理员'">{{node.nickname}}</span>
        <span class="message_tree" ng-if="node.nickname == '学校管理员'">{{node.nickname}}</span>
        <span class="message_tree" ng-if="node.nickname == '社团成员' && messages.length != 0" ui-sref="message.members">{{node.nickname}}</span>
        <span title="{{node.nickname_full}}" class="message_tree" ng-if="node.parent_id === 1" ui-sref="message.iwx({ id: node.id})">{{node.nickname}}</span>
        <span title="{{node.nickname_full}}" class="message_tree" ng-if="node.parent_id === 2" ui-sref="message.university({ id: node.university_id})">{{node.nickname}}</span>
        <span title="{{node.nickname_full}}" class="message_tree" ng-if="node.parent_id === 3" ui-sref="message.user({ id: node.user_id})">{{node.nickname}}</span>
        <span ng-if="node.parent_id === 3 && node.count > 0" class="badge pull-right">{{node.count}}</span>
      </div><br/>
    </ul>
  </div>
  <div ui-view class="col-lg-8 col-lg-offset-3 col-md-8
      col-md-offset-3 col-sm-9 col-sm-offset-3">
    <div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">消息管理</div>
        </div>
        <div class="panel-body">
          <div class="question-table">
            <p class="text-muted">选取左侧列表用户免费发送消息</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>