<div id="welcome" ng-controller="WelcomeIwxCtrl">
  <img src="/static/images/banner_bg.jpg" class="upper-bg">
  <div class="container">
    <img src="/static/images/phone.png" class="phone">
    <div class="download">
      <a href="https://itunes.apple.com/cn/app/i-wei-xiao/id835588974?l=en&mt=8">
        <img src="/static/images/ios.png" class="ios">
      </a>
      <a href="/static/release/iweixiao_v1.9.5.1.apk">
        <img src="/static/images/android.png" class="android">
      </a>
    </div>
    <hr class="line"/>
    <div class="lower">
      <!-- <div class="icon-text">
        <img src="/static/images/icon_1.png" class="icon">
        <p>校园最新活动一手掌握</p>
      </div>
      <div class="icon-text">
        <img src="/static/images/icon_2.png" class="icon">
        <p>迅速扩展你在校园社交圈</p>
      </div>
      <div class="icon-text">
        <img src="/static/images/icon_3.png" class="icon">
        <p>参与活动内容实时讨论</p>
      </div> -->
      <div class="row" style="text-align: center;">
        <div class="col-md-3">
          <img src="/static/images/icon_1.png" class="icon">
          <p>校园最新活动一手掌握</p>
        </div>
        <div class="col-md-3">
          <img src="/static/images/icon_2.png" class="icon">
          <p>迅速扩展你在校园社交圈</p>
        </div>
        <div class="col-md-3">
          <img src="/static/images/icon_3.png" class="icon">
          <p>参与活动内容实时讨论</p>
        </div>
      </div>
    </div>
  </div>
  <footer>
  <p>
  Copyright © 2013&nbsp;BoringKiller Ltd.&nbsp;&nbsp; 京ICP备13042578号
  <br>“北京博灵凯乐科技有限责任公司”版权所有
  </p>
  </footer>
</div>
